<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="" src="assets/images/logo.png" width="400px" />
        </div>
    </div>
    <form *ngIf="isSignUp" role="form" novalidate [formGroup]="form" (ngSubmit)="onRegister()">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="form-content">
                    <div class="form-group">
                        <input formControlName="username" type="text" class="form-control input-underline input-lg"
                            placeholder="Full Name">
                    </div>
                    <div class="form-group">
                        <input formControlName="email" (focusout)="focusOutFunction()" type="text" class="form-control input-underline input-lg"
                            placeholder="Email Address">
                        <div *ngIf="isEmailAvailable" style="color: white;">
                            <p>* This email has already been used. Try with another one!</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <input formControlName="phone" type="text" class="form-control input-underline input-lg"
                            placeholder="Phone Number">
                    </div>
                    <div class="form-group">
                        <input formControlName="password" type="password" class="form-control input-underline input-lg"
                            placeholder="Password">
                        <div *ngIf="form.get('password').invalid && form.get('password').touched" style="color: white">
                            <div *ngIf="form.get('password').hasError('minlength')">
                                <p>* Password must be at least 8 characters long!</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input formControlName="commission" type="text" class="form-control input-underline input-lg"
                            placeholder="Commission Percentage">
                    </div>
                    <div class="form-group">
                        <input formControlName="cnic" type="text" class="form-control input-underline input-lg"
                            placeholder="CNIC # Without Dashes">
                            <div *ngIf="form.get('cnic').invalid && form.get('cnic').touched" style="color: white">
                                <div *ngIf="form.get('cnic').hasError('minlength')">
                                    <p>* CNIC must be at least 13 characters long!</p>
                                </div>
                                <div *ngIf="form.get('cnic').hasError('maxlength')">
                                    <p>* CNIC must be at least 13 characters long!</p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="form-content">
                    <div class="form-group">
                        <input formControlName="city" type="text" class="form-control input-underline input-lg"
                            placeholder="City">
                    </div>
                    <div class="form-group">
                        <input formControlName="shopname" type="text" class="form-control input-underline input-lg"
                            placeholder="Shop Name">
                    </div>
                    <div class="form-group">
                        <input formControlName="shopaddress" type="text" class="form-control input-underline input-lg"
                            placeholder="Shop Address">
                    </div>
                    <div class="form-group">
                        <input formControlName="bankname" type="text" class="form-control input-underline input-lg"
                            placeholder="Bank Name">
                    </div>
                    <div class="form-group">
                        <input formControlName="bankbranch" type="text" class="form-control input-underline input-lg"
                            placeholder="Bank Area Branch Name">
                    </div>
                    <div class="form-group">
                        <input formControlName="accountnumber" type="text" class="form-control input-underline input-lg"
                            placeholder="Bank Account Number">
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <button class="btn rounded-btn" type="submit" [disabled]="form.invalid"> Register</button>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
            </div>
        </div>
    </form>
    <div class="row" *ngIf="!isSignUp">
        <div class="row justify-content-md-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <br><br>
            <p>
                Your account's registration request has been received.<br>
                Your account will get approved within next 24 hours, by Admin. Thank You!<br>
            </p>
        </div>
        <div class="row justify-content-md-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <br><br>
            <div class="col-md-4">
                <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="isError" style="margin-top: 20px; margin-left: 12px;">
        <div class="row justify-content-md-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <br><br>
            <p>
                An error occurred, while submitting your registration request!<br>
                Please try again later... your patience will be highly appreciated. Thank You!
            </p>
        </div>
    </div>
</div>