<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="" src="assets/images/logo.png" width="400px"/>
            <form role="form" novalidate [formGroup]="form" (ngSubmit)="onLoggedin()">
                <div class="form-content">
                    <div class="form-group">
                        <input formControlName="username" type="text" ng-model="name" class="form-control input-underline input-lg"
                        placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input formControlName="password" type="password" class="form-control input-underline input-lg"
                        placeholder="Password">
                    </div>
                </div>
                <button class="btn rounded-btn" type="submit" [disabled]="form.invalid"> Log in </button>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
                <div class="row" *ngIf="isError" style="margin-top: 20px; margin-left: 12px;">
                        <div class="row justify-content-md-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <br><br>
                            <p>{{errorMessage}}</p>
                        </div>
                </div>
            </form>
        </div>
    </div>
</div>