<div [@routerTransition]>
    <div>
        <app-page-header [heading]="'Bootstrap Component'" [icon]="'fa-th-list'"></app-page-header>
        <app-modal></app-modal>
        <app-alert></app-alert>
        <app-buttons></app-buttons>
        <app-collapse></app-collapse>
        <app-date-picker></app-date-picker>
        <app-dropdown></app-dropdown>
        <app-pagination></app-pagination>
        <app-pop-over></app-pop-over>
        <app-progressbar></app-progressbar>
        <app-tabs></app-tabs>
        <app-tooltip></app-tooltip>
        <app-timepicker></app-timepicker>
        <app-rating></app-rating>
    </div>
</div>