<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>
            <span>Dashboard</span>
        </a>
        <!-- <div *ngIf="user?.Roleid === 1 || user?.Roleid === 2 || user?.Roleid === 3" class="nested-menu"></div> -->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('orders')">
                <i class="fa fa-bell"></i>&nbsp;
                <span>Orders</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'orders'">
                <ul class="submenu">
                    <li *ngIf="user?.Roleid == 3">
                        <a routerLink="/neworder" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-plus"></i>&nbsp;
                            <span>New Order</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/orders/pending" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-clock-o"></i>&nbsp;
                            <span>Pending</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/orders/inprocess" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-cogs"></i>&nbsp;
                            <span>In Process</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/orders/completed" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-check"></i>&nbsp;
                            <span>Completed</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/orders/cancelled" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-times"></i>&nbsp;
                            <span>Cancelled</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <!--  -->
        <div *ngIf="user?.Roleid == 1 ">
            <a [routerLink]="['/registration-requests']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-user-plus"></i>&nbsp;
                <span>Pending Requests</span>
            </a>

            <a [routerLink]="['/users']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-users"></i>&nbsp;
                <span>Users</span>
            </a>
        </div>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('complaints')">
                <i class="fa fa-fw fa-pencil"></i>&nbsp;
                <span>Complaints</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'complaints'">
                <ul class="submenu">
                        <li *ngIf="user?.Roleid == 3">
                                <a routerLink="/newcomplaint" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                    <i class="fa fa-plus"></i>&nbsp;
                                    <span>New Complaint</span>
                                </a>
                            </li>
                    <li>
                        <a routerLink="/complaints/pending" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-clock-o"></i>&nbsp;
                            <span>Pending</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/complaints/inprocess" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-cogs"></i>&nbsp;
                            <span>In Process</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/complaints/completed" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-check"></i>&nbsp;
                            <span>Completed</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/complaints/cancelled" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-times"></i>&nbsp;
                            <span>Cancelled</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('payments')">
                <i class="fa fa-fw fa-money"></i>&nbsp;
                <span>Payments</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'payments'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/payments/pending" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-clock-o"></i>&nbsp;
                            <span>Pending</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/payments/received" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-handshake-o"></i>&nbsp;
                            <span>Received</span>
                        </a>
                    </li>
                    <li *ngIf="user?.Roleid == 1">
                        <a routerLink="/userpayments" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-address-card"></i>&nbsp;
                            <span>User Payments</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span>
                    <i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span>
                        <i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }}
                        <b class="caret"></b>
                    </span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fr')">
                                {{ 'French' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('ur')">
                                {{ 'Urdu' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('it')">
                                {{ 'Italian' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fa')">
                                {{ 'Farsi' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('de')">
                                {{ 'German' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span>
                        <i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span>
                                    <i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>
                                    <i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span>
                                    <i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span>
                                    <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>