.form-control {
    width: 100%;
    margin-top: 13px;
}

.table th {
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 10px;
    vertical-align: middle;
}

.table td  {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    vertical-align: middle;
}

.custom-width80 {
    width:80%
}